* {
    margin: 0;
    padding: 0;
  }
  h1{
    text-align: center;
  }
  
  
  #cornav{
    background-color: #3D663C;
  }
  
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #4CFF3A;
  }
  .container1{
    background-color:#B3DCB5;
    border-radius: 10px;
  }