* {
    margin: 0;
    padding: 0;
}



.container1{
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding-bottom: 30px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #4d4d4d;
}

#cornav{
  background-color:#a7a7a7 ;
}

h1, h2{
  padding-top: 15px;
  text-align: center;
}

p{
  margin: 40px;
  text-align: justify;
}

#cordrop{
  background-color:#c2c1c1 ;

}

#img1{
  float: right;
  width: 300px;
  border-radius: 10px;

}

#img2{
  float: left;
  width: 250px;
  border-radius: 10px;
  margin: 40px;

}