* {
    margin: 0;
    padding: 0;
}


.container1{
    background-color: rgb(255, 251, 229);
    border-radius: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #94a6ee;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #51443e;
}

#cornav{
    background-color: #766963;
}

h1, h2{
    padding-top: 15px;
    text-align: center;
}

p{
    margin: 40px;
    text-align: justify;
}