* {
    margin: 0;
    padding: 0;
}

.container1{
    background-color: rgb(250, 244, 209);
    border-radius: 10px;
    padding-bottom: 50px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #94a6ee;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #51443e;
}

#cornav{
    background-color: #766963;
}

h1, h2{
    padding-top: 15px;
    text-align: center;
}

p{
    margin: 40px;
    text-align: justify;
}

#cordrop{
    background-color: #92847e;
}

#fundo{
    background-color: #51443e ;
    z-index: 7;
    padding-top: 10px;
    padding-bottom: 10px;
  }