* {
    margin: 0;
    padding: 0;
  }
  h1{
    text-align: center;
    padding-top: 15px;
  }

  p{
    margin: 40px;
    text-align: justify;
  }

  
  #cornav{
    background-color: rgb(20, 20, 74);
  }
  
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgb(30, 30, 100);
  }
  .container1{
    border-radius: 10px;
    background-color: rgb(213, 213, 255);
  }