* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #D68304;
}

h1{
    padding-top: 15px;
  text-align: center;
}

p{
    margin: 40px;
    text-align: justify;
  }

.container1{
    background-color: #FACA9A;
    border-radius: 10px;
    padding-bottom: 50px;
}

#navcor{
    background-color: #FC901E;
}
#cordrop{
    background-color: #FC901E;
}