* {
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 15px;
    text-align: center;
}

p{
    margin: 40px;
    text-align: justify;
  }

.container1{
    background-color: #a8636a;
    border-radius: 10px;
    padding-bottom: 40px;
}

#cornav{
    background-color: #622026;
}

#cordrop{
    background-color: #57272b;
}

#fundo{
    background-color: #622026;
    padding-top: 10px;
    padding-bottom: 10px;
  }

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #9A3B3B;
}