* {
  margin: 0;
  padding: 0;
}

.container1{
    background-color: rgb(206, 211, 231);
    border-radius: 10px;
    padding-bottom: 50px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #ababab;
}

#cornav{
  padding-bottom: 20px;
  background-color:rgb(180, 189, 224) ;
}

h1, h2{
  padding-top: 15px;
  text-align: center;
}

p{
  margin: 40px;
  text-align: justify;
}

#cordrop{
  background-color: rgb(165, 175, 219)
}

#fundo{
  background-color: rgb(45, 47, 75);
  padding-top: 10px;
  padding-bottom: 10px;
}