* {
  margin: 0;
  padding: 0;
}

.container1{
    background-color: rgb(206, 211, 231);
    border-radius: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #ababab;
}

#cornav{
  background-color:#a6acc4 ;
}

h1, h2{
  padding-top: 15px;
  text-align: center;
}

p{
  margin: 40px;
  text-align: justify;
}