* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container1 {
  background-color: #c08261;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9a3b3b;
}

#navcor{
  background: #c08261;
}

#cordrop{
  background: #c08261;
}

