* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 15px;
  text-align: center;
}

p{
  margin: 40px;
  text-align: justify;
}

.container1 {
  background-color: #cc6565;
  border-radius: 10px;
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9a3b3b;
}

#navcor{
  background: #753636;
}

#cordrop{
  background: #8e4444;
}

#fundo{
  background-color: #753636;
  padding-top: 10px;
  padding-bottom: 10px;
}

