* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #4980D1;
}

h1{
    padding-top: 15px;
    text-align: center;
}

p{
    margin: 40px;
    text-align: justify;
  }

.container1{
    background-color: #c1c5d0;
    border-radius: 10px;
    padding-bottom: 50px;
}

#navcor{
    background-color: #465986;
}
#cordrop{
    background-color: #336699;
}

#fundo{
    background-color: #465986;
    padding-top: 10px;
    padding-bottom: 10px;
  }