* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #4980D1;
}
* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

.container1{
    background-color: #7BD5EB;
    border-radius: 10px;
}

#navcor{
    background-color: #336699;
}
#cordrop{
    background-color: #336699;
}